{% extends 'base.html.twig' %}

{% block title %}Chat - Renew password!{% endblock %}

{% block section_class %}renewPassword{% endblock %} 
{% block content_class %}viewh-75{% endblock %}
{% block content %}
<div class="col-sm-6 text-center my-auto mx-auto">
    {{ include('forms/renew_pass_form.html.twig', {
        header_text: 'Renew password',
        button_text: 'Update'
    }) }}
</div>
{% endblock %}
