{% extends 'base.html.twig' %}

{% block title %}Chat - Reset password!{% endblock %}

{% block section_class %}resetPassword{% endblock %} 
{% block content_class %}viewh-75{% endblock %}
{% block content %}
<div class="col-sm-12 text-center my-auto">
    <form method="POST">
        <h2 class="mb-3 font-weight-normal text-uppercase text-purple">Reset Password</h2>
        <div class="form-group col-md-6 mt-4 mx-auto" >
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text input-icon">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
                <label class="sr-only" for="inputEmail">E-mail</label>
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="E-mail" aria-describedby="emailHelp" required autofocus/>
            </div>
            <small id="emailHelp" class="form-text text-muted">
                We will send e-mail with renew password link
            </small>
        </div>
            
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        <button class="btn btn-lg btn-primary text-uppercase" type="submit">
            Generate
        </button>
    </form>
</div>
{% endblock %}
