###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/public/uploads/users_images/*
/public/uploads/chats_images/*
/public/uploads/chats_files/*
/public/uploads/chat_screens/*
/src/Migrations