.chat-container {
    height: 100vh;
}

.messages-container {
    height: 60%;
}

/*.chat-menu {
    display: none;
}

.chat-header:hover .chat-menu {
    display: inline-block;
}*/

.chat-item-container {
    border: 1px solid #ABDACD;
    overflow-y: scroll;
}

#js-chats-container {
    max-height: 20px !important;
}

#js-uploaded-attachments {
    overflow-x: auto;
}

.friends_list {
    height: 70vh;
}

.chat-header {
    border: 1px solid #ABDACD;
}

.textarea-container {
    height: 40%;
    border: 1px solid #ABDACD;
}

textarea {
    resize: none;
    color: #fff !important;
}

.emojionearea-editor {
    max-height: 20px !important;
    overflow-y: scroll;
    color: #fff !important;
}

.user-image {
    width: 25px;
    height: 25px;
}

.image-circle {
    border-radius: 50%;
}

.image-border {
    border: 1px solid #D3D3D3;
}

.message-rounded {
    border-radius: 20%;
}

.participants {
    font-size: 0.8rem;
}

.font-75 {
    font-size: 75px;
}