.chat-container {
    height: 70vh;
}

.messages-container {
    height: 75%;
}

.chat-item-container {
    border: 1px solid #ABDACD;
    overflow-y: scroll;
}

.chat-header {
    border: 1px solid #ABDACD;
}

.textarea-container {
    height: 25%;
    border: 1px solid #ABDACD;
}

textarea {
    resize: none;
    color: #fff !important;
}

.emojionearea-editor {
    color: #fff !important;
}

.user-image {
    width: 25px;
    height: 25px;
}

.image-circle {
    border-radius: 50%;
}

.message-rounded {
    border-radius: 20%;
}
