.chat-container {
    height: 100vh;
}

.messages-container {
    height: 60%;
}

.chat-item-container {
    border: 1px solid #ABDACD;
    overflow-y: scroll;
}

#js-chats-container {
    max-height: 20px !important;
}

#js-uploaded-attachments {
    overflow-x: auto;
}

.friends_list {
    height: 70vh;
}

.chat-header {
    border: 1px solid #ABDACD;
}

.textarea-container {
    height: 40%;
    border: 1px solid #ABDACD;
}

textarea {
    resize: none;
    color: #fff !important;
}

.emojionearea-editor {
    max-height: 20px !important;
    overflow-y: scroll;
    color: #fff !important;
}

.user-image {
    width: 25px;
    height: 25px;
}

.image-circle {
    border-radius: 50%;
}

.image-border {
    border: 1px solid #D3D3D3;
}

.message-rounded {
    border-radius: 20%;
}

.participants {
    font-size: 0.8rem;
}

.font-75 {
    font-size: 75px;
}

.swal2-overflow {
    overflow-x: visible;
    overflow-y: visible;
}

.typing-dots {
    padding: 10px;
    background-color: grey;
}

.typing-dots span {
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    /*  This pattern is downloaded from www.toptal.com/designers/subtlepatterns */
    background-image: url("../img/bg1.png");
    border-radius: 50%;
    display: inline-block;
    animation-name: typing;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.typing-dots span:nth-child(2) {
    animation-delay: 0.4s;
}

.typing-dots span:nth-child(3) {
    animation-delay: 0.8s;
}

@keyframes typing {
    50% {
        opacity: 0;
        transform: scale(0.7) translateY(-10px);
    }
}
