<script type="text/template" id="js-own-message-template">
    <div class="col-12 my-2 js-message" data-date="<%= createdAt %>">
        <div class="row">
            <div class="col-12">
                <% if (owner.imageFilename !== null) { %>
                    <img class="user-image image-circle float-left border border-secondary" src="<%= baseAsset %><%= owner.thumbImagePath %>" alt="User image">
                <% } else { %>
                    <img class="user-image image-circle float-left border border-secondary" src="<%= defaultUserImage %>" alt="User image">
                <% } %>
                <strong class="ml-2 float-left">You</strong>
            </div>
            <div class="col-9 mx-auto">
                <p class="text-left bg-primary rounded w-100 p-2"><%= content %></p>
                <small class="float-left text-muted"><%= createdAtModified %></small>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="js-others-message-template">
    <div class="col-12 my-2 js-message" data-date="<%= createdAt %>">
        <div class="row">
            <div class="col-12">
                <% if (owner.imageFilename !== null) { %>
                    <img class="user-image image-circle float-right border border-secondary" src="<%= baseAsset %><%= owner.thumbImagePath %>" alt="User image">
                <% } else { %>
                    <img class="user-image image-circle float-right border border-secondary" src="<%= defaultUserImage %>" alt="User image">
                <% } %>
                <strong class="mr-2 float-right"><%= owner.login %></strong>
            </div>
            <div class="col-9 mx-auto">
                <p class="text-left bg-secondary rounded w-100 p-2"><%= content %></p>
                <small class="float-right text-muted"><%= createdAtModified %></small>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="js-typing-message-template">
<div class="col-12 my-2" id="js-typing-dots">
    <div class="row">
        <div class="col-12">
            <% if (typer.imageFilename !== null) { %>
                <img class="user-image image-circle float-left border border-secondary" src="<%= baseAsset %><%= typer.thumbImagePath %>" alt="User image">
            <% } else { %>
                <img class="user-image image-circle float-left border border-secondary" src="<%= defaultUserImage %>" alt="User image">
            <% } %>
        </div>
        <div class="col-9 mx-auto">
            <p class="text-left bg-info rounded w-100 p-2 typing-dots">
                <span></span>
                <span></span>
                <span></span>
                <strong class="text-white" id="js-typer"><%= typer.login %> is writing message...</strong>
            </p>
        </div>
    </div>
</div>   
</script>