<script type="text/template" id="js-own-message-template">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <strong class="float-left">You</strong>
            </div>
            <div class="col-12">
                <span><%= content %></span>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="js-others-massage-template">
    <div class="">
        <strong>others</strong>
    </div>
</script>