<script type="text/template" id="js-private-chat-template">
<button type="button" class="list-group-item list-group-item-action mt-1 js-chat-button" id=" <%= messageData.chat.id %>">
    <div class="row no-gutters">
        <div class="col-sm-12 col-md-4">
            <% _.some(participantsData, function(participant, index) { %>
                <% if (index > 2) { %>
                    <div class="user-image image-circle float-left bg-primary image-border">
                        <span class="fas fa-plus"></span>
                    </div>
                <% 
                    return true;
                } %>
                <% if (participant.user.imageFilename !== null) { %>
                    <img class="user-image image-circle image-border float-left" src="<%= baseAsset %><%= participant.user.thumbImagePath %>" alt="User image">
                <% } else { %>
                    <img class="user-image image-circle image-border float-left" src="<%= defaultUserImage %>" alt="User image">
                <% } %>
            <% }); %>
        </div>
        <div class="col-sm-12 col-md-8">
            <span class="participants"><strong>
                <% _.some(participantsData, function(participant, index) { %>
                    <% if (index === 0) { %>
                        <%= participant.user.login %>
                    <% } else if (index <= 2) { %>
                        , <%= participant.user.login %>
                    <% } else if (index > 2) { %>
                        and more...
                    <%
                        return true; 
                    } %>
                <% }); %>
            </strong></span>
        </div>
        <div class="col-12 border-top js-last-message my-1">
            <% if (messageData.content) { %>
                <small>
                    <div class="row">
                        <div class="col-8 text-left">
                            <% if (messageData.owner.id === currentUser) { %>
                                <span><strong>
                                    You
                                </strong></span>
                            <% } else { %>
                                <span><strong>
                                    <%= messageData.owner.login %>
                                </strong></span>
                            <% } %>
                        </div>
                        <div class="col-4">
                            <span><small>
                                <%= messageData.createdAt %>
                            </small></span>
                        </div>
                        <div class="col-12 text-left">
                            <%= messageData.content %>
                        </div>
                    </div>
                </small>
            <% } else { %>
                <small>No messages now. Write first one!</small>
            <% } %>
        </div>
    </div>
</button>
</script>
<script type="text/template" id="js-last-message-template">                                            
<small>
    <div class="row">
        <div class="col-8 text-left">
            <% if (messageData.owner.id === currentUser) { %>
                <span><strong>
                    You
                </strong></span>
            <% } else { %>
                <span><strong>
                    <%= messageData.owner.login %>
                </strong></span>
            <% } %>
        </div>
        <div class="col-4">
            <span><small>
                <%= messageData.createdAt %>
            </small></span>
        </div>
        <div class="col-12 text-left">
            <%= messageData.content %>
        </div>
    </div>
</small>
</script>