<script type="text/template" id="js-uploaded-image-template"> 
<a href="<%= baseAsset %><%= file._links.imagePath.href %>" target="_blank">
    <img class="m-2" src="<%= baseAsset %><%= file._links.thumbImagePath.href %>">
</a>
</script>

<script type="text/template" id="js-uploaded-file-template">
<a class="uploaded-file" href="<%= baseAsset %><%= file._links.filePath.href %>" target="_blank" download>
    <span class="fas fa-file-alt font-75 m-2 text-dark"></span>
</a> 
</script>