<script type="text/template" id="js-user-active-template">
    <h5>
        <span class="fas fa-circle text-success" data-toggle="tooltip" data-placement="top" title="User is active now"></span>
    </h5>
</script>
<script type="text/template" id="js-user-nonactive-template">
    <h5>
        <span class="fas fa-circle text-danger" data-toggle="tooltip" data-placement="top" title="User is not active now"></span>
    </h5>
</script>