<div class="col-md-4 mx-auto mt-4">
    <div class="row">
        <div class="col-12">
            <span class="fa-stack fa-6x">
                <span class="fas fa-database fa-stack-2x text-primary"></span>
                <span class="fas fa-exclamation-circle fa-stack-1x text-danger"></span>
            </span>
        </div>
        <div class="col-12 mt-4">
            <h4 class="font-weight-normal text-uppercase text-purple"> 
                No data avaible
            </h4>
        </div>
        <div class="col-12 mt-2">
            <span class="font-weight-bold text-uppercase text-orange">There is no data to show you right now</span>
        </div>
    </div>
</div> 