{% extends 'base.html.twig' %}

{% block title %}Chat - Dashboard{% endblock %}

{% block section_class %}editUser{% endblock %} 
{% block content_class %}justify-content-center align-items-center{% endblock %}

{% block content %}
<div class="col-sm-6 text-center my-3">
    {{ include('forms/user_form.html.twig', {
        header_text: 'Edit account',
        button_text: 'Edit'
    }) }}
</div>
{% endblock %}
