{% extends 'base.html.twig' %}

{% block title %}Chat - Petition{% endblock %}

{% block section_class %}petitionShow{% endblock %} 
{% block content_class %}justify-content-center align-items-center{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/_forms.css') }}">
{% endblock %}

{% block content %}
<div class="col-sm-6 text-center my-3">
    test
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}